@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans 3", serif;
}

#results-hero {
  background-image: linear-gradient(to right, #1d1e20, #2a2b2d);
  min-height: 100vh;
}

.results-container {
  max-width: 1000px;
  padding: 16px;
  margin: auto;
  color: white;
}

.results-header {
  text-align: center;
  padding: 0 150px;
}

.results-header h2 {
  margin-top: 100px;
  margin-bottom: 30px;
  font-weight: 500;
}

.results-header p {
  font-weight: lighter;
}

.results-stats {
  margin-top: 80px;
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 100px;
}

.stat-item {
  width: auto;
  height: auto;
  text-align: center;
  position: relative;
}

.pentagon {
  width: 100px;
  height: 100px;
  background: rgba(255, 101, 101, 1);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  margin: auto;
}

.stat-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.stat-text h3 {
  font-size: 30px;
}

.stat-text p {
  font-size: 9px;
  font-weight: lighter;
}

/* Responsive Design */
@media screen and (max-width: 480px) {
  .results-header {
    padding: 0 16px;
  }
  .results-stats {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .results-header {
    padding: 0 25px;
  }
  .results-stats {
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .results-header {
    padding: 0 50px;
  }
}
