@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* Global components */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Source Sans 3", serif;
}
.our-results {
  background-image: url(images/headphones_hero_2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.card {
  max-width: 1000px;
  padding: 16px;
  margin: auto;
  color: white;
}
p {
  font-weight: lighter;
}
.card-1 {
  text-align: center;
  padding: 0 150px;
}
h2 {
  margin-top: 100px;
  margin-bottom: 30px;
  font-weight: 500;
}
.card-2 {
  margin-top: 80px;
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 100px;
}
.card-2-elements {
  width: auto;
  height: auto;
  text-align: center;
  position: relative;
}
.card-2-elements-texts {
  position: absolute;
  top: 28%;
  left: 22%;
  color: white;
  text-align: center;
  font-size: 15px;
}
.card-2-elements h5 {
  font-size: 30px;
}
.card-2-elements p {
  font-size: 9px;
  font-weight: lighter;
}

/* Pentagon shape with animation */
.animated-pentagon {
  width: 100px;
  height: 100px;
  background: rgba(255, 101, 101, 1);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  animation: bounce 3s infinite ease-in-out, rotate 5s infinite linear;
  margin: auto;
}

/* Hover effect on pentagon */
.animated-pentagon:hover {
  animation: hover-scale 0.5s forwards;
}

/* Animations */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hover-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

/* Responsive Design */
@media screen and (max-width: 480px) {
  .card-1 {
    padding: 0 16px;
  }
  .card-2 {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
  .card-1 {
    padding: 0 25px;
  }
  .card-2 {
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .card-1 {
    padding: 0 50px;
  }
}
